<body>
  <div class="background">
  <header>
    <div class="container">
      <nav>
        <ul>
          <li>
            <a routerLink="/search-component" routerLinkActive="active" ariaCurrentWhenActive="page">Filter</a>
          </li>
          <li>
            <a routerLink="/files-component" routerLinkActive="active" ariaCurrentWhenActive="page">Files</a>
          </li>
          <li>
            <a routerLink="/edfs-component" routerLinkActive="active" ariaCurrentWhenActive="page">Edfs</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <router-outlet></router-outlet>
  </div>
  </body>
